/vendor/
/node_modules/
.env
.env.backup
.env.production
*.log
.DS_Store
.idea/
.vscode/
*.pyc
__pycache__/
storage/*.key
public/storage
public/hot
public/build
coverage/
phpunit.xml
.phpunit.result.cache
npm-debug.log
yarn-error.log
